---
layout: default
lang: en
---
{% assign sorted_pages = site.pages | sort:"order" %}

<div class="hero primary white-text animated fadeIn">
    <div class="hero-content">
        <ul>
            <li>
                <div class="display2 white-text animated fadeInDown">Aerondo Documentation</div>
            </li>
            <li>
                <div class="headline white-text animated fadeInDown">Aerondo provides a way to manage your data in the area of general aviation.</div>
            </li>
            <li>
                <a target="_blank" href="/pages/log-in.html" class="btn btn-lg animated fadeInLeft" rel="nofollow">Log in</a>
                <a target="_blank" href="#" class="btn primary btn-lg animated fadeInRight" rel="nofollow">Sign up</a>
            </li>
        </ul>
    </div>
</div>
 

<div class="white">
    <div class="row">
        <div class="col s12 display1">Aerondo Documentation</div>
    </div>
    <div class="row">
        <div class="col s12 flow-text">Welcome! We are excited that you want to learn more about Aerondo and the features of the platform. On the following
            sites you find helpful information about the features offered by Aerondo and hints how to use them. </div>
    </div>
    <div class="row">
        <div class="col s12 title">What is Aerondo</div>
        <div class="col s12">
            Aerondo is your ideal partner when it is about managment of data originating from general aviation. Whether you want to manage your personal information, 
            the data of an aircraft, an aerodrome or an organisation (a company or an association), alone or together with other people, Aerondo has tools that make your life easier. Aerondo is a web 
            application built on the latest web and cloud technologies. This means you don't need to install something but can use Aerondo on any device you want to. 
            You just need a browser to sign up for a new account and to log in. Then you are all set and ready to use Aerondo. Using Aerondo means you have your data 
            and the management tools always with you on your smartphone and available on every other device you want to use to mange your general aviation data.
        </div>
    </div>

    <div class="row">
        <div class="col s12 title">Get started with Aerondo</div>
        <div class="col s12">
           To get started with Aerondo you neet to sign up for a new account. <strong>Currently the sign up is inactive because the Aerondo project is just started and only the 
           frist features are released for use.</strong> This means potential users can only use a limited feature set in their daily general aviation activity. If you are interested
           to try aerondo in its current state get in touch with us by sending us a <a href="mailto:registration@aerondo.com?subject=Account creation request" target="blank">mail</a>
           with some information what features you are looking for and what data you want to manage. We will then create an account for you.
        </div>
    </div>
    
    <div class="row no-margin">
        <div class="col s12 title">Aerondo features</div>
        <div class="col s12">
            Aerondo provides features for all the different participants of general aviation. In the following you find a list of the currently released features
            with links to pages providing more information to each single feature. 
        </div>
        <div class="col s12 m6 xl3 center-align heading-margin">
            <i class="aerondo-icons pilot large"></i>
            <div class="headline">For Pilots</div>
            <ul class="bounce-list">
                {% for page in sorted_pages %} {% if page.section == 'pilots' and page.lang == 'en' %}
                <li>
                    <a href="{{page.url}}">{{page.title}}</a>
                </li>
                {% endif %} {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <blockquote>
                Please be aware that further development of Aerondo is driven by the community. If you are missing any features or you have
                ideas for improvements don't hesitate to let us know. In the case you want to send us a feature request or
                a proposal for an improvement have a look to our issues on <a href="https://github.com/Aerondo/Home/issues" target="blank">GitHub</a>. If there is no issue describing your request,
                 just create a new one.
            </blockquote>
        </div>
    </div>

</div>