---
layout: default
---
{% assign sorted_pages = site.pages | sort:"order" %}

<div class="hero primary white-text animated fadeIn">
    <div class="hero-content">
        <ul>
            <li>
                <div class="display2 white-text animated fadeInDown">Aerondo Dokumentation</div>
            </li>
            <li>
                <div class="headline white-text animated fadeInDown">Aerondo hilft Dir dabei Deine Daten aus dem Bereich der allgemeinen Luftfahrt zu verwalten.</div>
            </li>
            <li>
                <a target="_blank" href="/pages/log-in.html" class="btn btn-lg animated fadeInLeft" rel="nofollow">Anmelden</a>
                <a target="_blank" href="#" class="btn primary btn-lg animated fadeInRight" rel="nofollow">Registrieren</a>
            </li>
        </ul>
    </div>
</div>
 

<div class="white">
    <div class="row">
        <div class="col s12 display1">Aerondo Documentation</div>
    </div>
    <div class="row">
        <div class="col s12 flow-text">Willkommen! Wir freuen uns das Du mehr über Aerondo und die Funktionen der platform erfahren möchtest. Auf den folgenden Seiten
            findest du hilfreiche Informationen über die von Aerondo angebotenen Funktion und Tipps zu deren Verwendung.
        </div>
    </div>
    <div class="row">
        <div class="col s12 title">Was ist Aerondo</div>
        <div class="col s12">
                Aerondo ist Dein idealer Partner, wenn es um die Verwaltung von Daten aus der allgemeinen Luftfahrt geht. Egal ob Du Deine persönlichen Daten verwalten möchtest,
                die Daten eines Flugzeugs, eines Flugplatzes oder einer Organisation (eines Unternehmens oder eines Vereins), allein oder mit anderen Personen gemeinsam, Aerondo 
                stellt Dir dazu Werkzeuge bereit, die Dir das Leben erleichtern und viel Zeit sparen. Aerondo ist eine Webanwendung basierend auf den neuesten Web- und Cloud-Technologien.
                Dies bedeutet, dass Du nichts installieren musst um Aerondo nutzen zu können und Aerondo auf jedem beliebigen Gerät verwenden kannst. Du benötigen lediglich einen Browser, 
                um dich für ein neues Konto anzumelden und dich einzuloggen. Dann bist Du bereit für die Nutzung von Aerondo. Mit Aerondo hast du Deine Daten und die Verwaltungstools über 
                dein Smartphone immer mit bei Dir und auf jedem anderen Gerät verfügbar, das Du für die Verwaltung Deiner Daten aus der allgemeinen Luftfahrt verwenden möchtest.
        </div>
    </div>

    <div class="row">
        <div class="col s12 title">Beginne Aerondo zu nutzen</div>
        <div class="col s12">
           Um mit der Nutzung von Aerondo zu beginnen, musst Du dich registrieren und dadurch eine neues Konto anlegen. Aktuell ist die Registrierung noch inaktive da Aerondo ein junges Projekt
           ist und zum aktuellen Zeitpunkt nur die ersten Funktionen zur Verwendung freigegeben sind. Dadurch steht potentiellen Benutzern aktuell nur ein eingeschränkter Funktionsumfang für die
           tägliche Verwendung in der allgemeinen Luftfahrt zur Verfügung. Wenn du jedoch daran interessiert bist Aerondo mit dem aktuellen Funktionsumfang auszuprobieren
           dann melde Dich bei uns und sende uns eine <a href="mailto:registration@aerondo.com?subject=Account creation request" target="blank">Email</a> mit Informationen welche Funktionen 
           du benötigst und welche Daten du verwalten möchtest. Wir werden dann einen Account für Dich erstellen. 
        </div>
    </div>
    
    <div class="row no-margin">
        <div class="col s12 title">Aerondo Funktionen</div>
        <div class="col s12 m6 xl3 center-align heading-margin">
            <i class="aerondo-icons pilot large"></i>
            <div class="headline">Für Piloten</div>
            <ul class="bounce-list">
                {% for page in sorted_pages %} {% if page.section == 'pilots' and page.lang == 'de' %}
                <li>
                    <a href="{{page.url}}">{{page.title}}</a>
                </li>
                {% endif %} {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <blockquote>
                Bitte sei Dir bewusst, dass die weitere Entwicklung durch die Community getrieben wird. Wenn Dir eine Funktion fehlt oder Du eine Idee für eine Verbesserung hast
                zögere nicht uns dies mitzuteilen. In Fällen in denen du uns eine Anfrage für eine neue Funktion senden möchtest oder einen Vorschlag für eine Verbesserung hast
                schau die die issues auf unserer <a href="https://github.com/Aerondo/Home/issues" target="blank">GitHub</a> Seite an. Wenn du dort kein issue findest das deiner Anfrage entspricht erstelle einfach ein neues issue.
            </blockquote>
        </div>
    </div>

</div>